@media (min-width: 600px) {
  #hamburger {
    display: none; /* Hide hamburger on larger screens */
  }
  
  .nav-menu ul {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
  }

  .nav-menu li {
    border: none;
  }

  .nav-menu a {
    padding: 1rem 1.5rem;
  }

  .nav-menu a:hover,
  .nav-menu a:focus {
    background-color: #003366;
  }

  /* Grid changes */
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
